html {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-primary);
  /* font-family: 'Fira Code', monospace; */
  font-family: "Baloo 2", sans-serif;
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.hidden-on-small {
  display: block;
}

a {
  color: var(--link-color-normal);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-color-hover);
}

h1 {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-top: -18px; */
}

h2 {
  /* font-family: 'Fira Code', monospace; */
  text-decoration: bold;
  font-size: 38px;
  margin-bottom: 30px;
  margin-top: 0px;
}

ul {
  list-style: none;
  margin-left: -23px;
  margin-top: 0;
}

li {
  margin: 0px;
}

h1 {
  color: var(--title-color);
}

div {
  color: var(--category-color);
  font-weight: 900;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  max-width: 430px;
}

#last-row {
  grid-column: 1/ span 2;
  /* text-align: center; */
  width: 100%;
}

img {
  height: 700px;
  width: 400px;
  object-fit: cover;
  margin-right: 4em;
  box-shadow: rgba(0, 0, 0, 0.20) 30px 30px 30px, rgba(0, 0, 0, 0.20) 0px 0px 30px 10px;
  margin-bottom: 9px;
  border-radius: 10px;
}

#date {
  color: var(--text-color-secondary);
  max-width: 100%;
  /* width: 490px; */
  overflow-wrap: wrap;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.image img {
  content: var(--image);
}

#image-source {
  color: var(--text-color-secondary);
  padding-top: 0px;
  text-align: center;
}

@media (max-width: 430px) {

  html {
    background-image: var(--image);
    background-size: cover;
    background-repeat: none;
    background-position: 0px;
  }

  body {
    /* padding: 0px; */
    /* margin: 0px; */
    /* width: 100%; */
    /* height: 100%; */
    font-size: 10px;
    background-color: #00000000;

  }

  #cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--background-transparent-color);
    z-index: -1;
  }

  #date {
    min-width: 330px;
  }

  h1 {
    font-size: 9vw;
  }

  h2 {
    font-size: 7vw;
  }

  div {
    font-size: 4vw;
  }

  ul {
    margin-left: -31px;
  }

  /* .grid-container { */
  /*   grid-template-columns: 1fr; */
  /*   text-align: center; */
  /* } */

}

@media (max-width:1200px) {
  .hidden-on-small {
    display: none;
  }
}
